.imageCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  animation: pulse 1.5s linear infinite;
}

/* .heart:hover {
  animation: pulse 0.5s linear infinite;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }
}

.heart::after {
  background: inherit;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 100px;
  width: 100px;
}

.heart::before {
  background: inherit;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  height: 100px;
  width: 100px;
}

.subNav {
  min-height: 15vh;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(171, 171, 171);
}
.subNavRow {
  color: rgb(171, 171, 171);
  font-size: 1.3em;
  padding-left: 15%;
  padding-bottom: 5px;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.BackImnage1 {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 50s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664129456/istockphoto-1065067004-612x612_e2bptn.jpg);
}

@keyframes slideBg {
  0% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664129456/istockphoto-1065067004-612x612_e2bptn.jpg);
  }
  25% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664641376/istockphoto-829775428-612x612_xqqxez.jpg);
  }
  50% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664641373/istockphoto-466268089-612x612_dffglb.jpg);
  }
  75% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664131026/Marginalia_en_Roman_de_la_Rose_q9a4hp.jpg);
  }
  100% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664129456/istockphoto-1065067004-612x612_e2bptn.jpg);
  }
}

.CardTitle {
  color: rgb(209, 54, 33);
  text-align: center;
  background-color: rgba(256, 256, 256, 0.9);
  opacity: 0.6;
  padding: 2rem;
  border-radius: 4px;
  border-radius: 25px;
}

.titleH1 {
  font-weight: bold;
}

.bookImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1663419149/pexels-min-an-694740_kk70sz.jpg);
  background-size: cover;
  background-position: center;
}

.speachImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664641376/istockphoto-829775428-612x612_xqqxez.jpg);
  background-size: cover;
  background-position: center;
}

.docsImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664646164/literatura-medieval-4-e1569626750832_tzqrxy.jpg);
  background-size: cover;
  background-position: center;
}

.subTitle {
  color: black;
  text-align: center;
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  opacity: 0.8;
  zoom: 1;
  background-color: aliceblue;
}
