#TITLE {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display SC", serif;
  background-color: black;
  color: white;
}

.imageCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }
}

.heart::after {
  background: inherit;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 100px;
  width: 100px;
}

.heart::before {
  background: inherit;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  height: 100px;
  width: 100px;
}

.subNav {
  min-height: 15vh;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(171, 171, 171);
}

.subNavRow {
  color: rgb(171, 171, 171);
  font-size: 1.3em;
  padding-bottom: 5px;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.BackImnage1 {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 60s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664820302/unnamed_1_ma539b.jpg);
}

@keyframes slideBg {
  0% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664820302/unnamed_1_ma539b.jpg);
  }

  25% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1665830796/201510021247Decamerone_1120_1_qsuf03.jpg);
  }

  50% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664641373/istockphoto-466268089-612x612_dffglb.jpg);
  }

  75% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664820302/unnamed_1_ma539b.jpg);
  }

  100% {
    background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664129456/istockphoto-1065067004-612x612_e2bptn.jpg);
  }
}

.CardTitle {
  color: rgb(209, 54, 33);
  text-align: center;
  background-color: rgba(256, 256, 256, 0.9);
  opacity: 0.6;
  padding: 2rem;
  border-radius: 4px;
  border-radius: 25px;
}

.bookImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1663419149/pexels-min-an-694740_kk70sz.jpg);
  background-size: cover;
  background-position: center;
}

.speachImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1665830923/SS_The_Decameron_resized_e7dpwz.jpg);
  background-size: cover;
  background-position: 75% 25%;
}

.docsImage {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1665830796/201510021247Decamerone_1120_1_qsuf03.jpg);
  background-size: cover;
  background-position: center;
}

.subTitle {
  color: black;
  text-align: center;
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  opacity: 0.8;
  zoom: 1;
  background-color: aliceblue;
}

.HalfImage1 {
  min-height: 60vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664820319/unnamed_5_ahiz1h.jpg);
  background-size: cover;
  background-position: center;
}

.HalfImage2 {
  min-height: 60vh;
  background-image: url(https://res.cloudinary.com/dzzkeb6xp/image/upload/v1664820326/unnamed_6_ijxrqg.jpg);
  background-size: cover;
  background-position: center;
}

#navBrand {
  font-size: "2em";
  color: white;
}

@media screen and (max-width: 650px) {
  #navBrand {
    text-align: center !important;
    font-size: 2em;
    color: white;
  }

  .TopPhone {
    padding-top: 2%;
  }

  #inscribe {
    display: none;
  }

  #mainTitle {
    margin-top: 25%;
  }

  #showNon {
    display: none;
  }

  #phoneCenter {
    margin: 2% 35%;
  }

  #phoneCenterCard {
    margin: 2% 25%;
  }

  #maxWidthLine {
    max-width: 350px;
  }

  .subNavRow {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-bottom: 0;
  }
}